---
import SocialNav from "../ui/SocialNav.astro";
---

<footer class="flex flex-col items-center gap-4 pb-16" role="contentinfo">
  <p>
    © <span id="current-year">2025</span> Modas Bety - Atelier de Moda y Confección
    para Damas
  </p>
  <SocialNav />
  <address class="not-italic text-sm opacity-80">
    Desarrollado con ☕ por
    <a
      href="https://alguzdev.vercel.app/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-sakura-hover"
      aria-label="Ver perfil de GitHub del desarrollador">alguzdev</a
    >
  </address>
</footer>

<script>
  import { initYearUpdater } from "../../scripts/components/year-updater.js";
  initYearUpdater();
</script>
