---
import SocialNav from "../ui/SocialNav.astro";
import { SITE_INFO } from "../../data/siteData";

const currentYear = new Date().getFullYear();
---

<footer
  class="flex flex-col items-center gap-4 pb-8 px-4 text-center"
  role="contentinfo"
>
  <p class="text-sm lg:text-base">
    © <span id="year">{currentYear}</span>
    {SITE_INFO.name} - Atelier de Moda y Confección para Damas
  </p>
  <SocialNav class="hidden lg:flex" />
  <address class="not-italic text-xs lg:text-sm opacity-80 mt-4 md:mt-8">
    Desarrollado con ☕ por
    <a
      href={SITE_INFO.author.url}
      target="_blank"
      rel="noopener noreferrer"
      class="text-sakura-hover"
      aria-label="Ver perfil de GitHub del desarrollador"
      >{SITE_INFO.author.name}</a
    >
  </address>
</footer>

<script>
  const yearSpan = document.getElementById("year");
  if (yearSpan) {
    yearSpan.textContent = new Date().getFullYear().toString();
  }
</script>
