---
import { Icon } from "astro-icon/components";
---

<section
  class="flex flex-col gap-12 w-full items-center bg-linear-to-br from-sakura-primary via-[#fd7fa9] to-sakura-primary py-22"
>
  <h3 class="font-bold text-5xl font-subs">
    ¿Lista para hacer realidad tu diseño soñado?
  </h3>
  <p class="text-xl">
    Agenda tu asesoría personalizada y recibe tu cotización sin compromiso.
  </p>
  <a
    class="inline-flex items-center gap-3 px-8 py-4 bg-neutral-200 text-rose-300 rounded-full hover:-translate-y-1 hover:scale-110 transition-all duration-300 shadow-lg shadow-sakura-hover/70 font-medium text-lg"
    href="https://wa.me/51947620202?text=¡Hola!%20Vengo%20de%20su%20página%20web%20y%20me%20gustaría%20recibir%20información%20sobre%20sus%20servicios%20de%20confección%20a%20medida"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Obtener cotización gratuita por WhatsApp"
  >
    Agenda tu cotización gratuita ahora
    <Icon name="mdi:whatsapp" class="size-8" />
  </a>
</section>
