---
import { Icon } from "astro-icon/components";
import { SOCIAL_LINKS, MESSAGES } from "../../data/siteData";
---

<section
  class="flex flex-col gap-6 md:gap-8 lg:gap-12 w-full items-center bg-linear-to-br from-sakura-primary via-[#fd7fa9] to-sakura-primary py-12 md:py-16 xl:py-22 px-4 text-center"
>
  <h3
    class="font-bold text-2xl md:text-3xl lg:text-5xl font-subs tracking-wider text-balance"
  >
    ¿Lista para hacer realidad tu diseño soñado?
  </h3>
  <p class="md:text-lg lg:text-xl">
    Agenda tu asesoría personalizada y recibe tu cotización sin compromiso.
  </p>
  <a
    class="inline-flex items-center justify-center gap-3 px-6 py-3 lg:px-8 lg:py-4 bg-neutral-200 text-rose-300 rounded-full hover:-translate-y-1 hover:scale-110 transition-all duration-300 shadow-lg shadow-sakura-hover/70 font-medium lg:text-lg w-auto"
    href={SOCIAL_LINKS.whatsapp(MESSAGES.whatsappDefault)}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Obtener cotización gratuita por WhatsApp"
  >
    ¡Haz realidad tu diseño hoy!
    <Icon name="mdi:whatsapp" class="size-8" />
  </a>
</section>
