---
import HeroWspBtn from "../ui/HeroWspBtn.astro";
import HeroLogo from "../ui/HeroLogo.astro";
import HeroEslogan from "../ui/HeroEslogan.astro";
import HeroCopyBtn from "../ui/HeroCopyBtn.astro";
---

<section id="inicio" class="hero">
  <div class="contenedor">
    <HeroLogo />
    <HeroEslogan />
    <div class="acciones flex flex-col gap-4 justify-center items-center">
      <HeroWspBtn />
      <HeroCopyBtn />
      <p class="text-sm text-sakura-primary/90 mt-2">
        ✨ Cita gratuita - Agenda ya, cupos limitados
      </p>
    </div>
  </div>
</section>
