---
import HeroWspBtn from "../ui/HeroWspBtn.astro";
import HeroLogo from "../ui/HeroLogo.astro";
import HeroEslogan from "../ui/HeroEslogan.astro";
import HeroCopyBtn from "../ui/HeroCopyBtn.astro";
---

<section id="inicio" class="contenedor">
  <HeroLogo />
  <HeroEslogan />
  <div class="flex flex-col gap-5 justify-center items-center">
    <HeroWspBtn />
    <HeroCopyBtn />
    <p class="text-xs md:text-sm text-sakura-primary/90 mt-2">
      ✨ Cita gratuita - Agenda ya, cupos limitados
    </p>
  </div>
</section>
