---
import { Icon } from "astro-icon/components";
---

<section
  id="servicios"
  class="flex flex-col items-center gap-12"
  role="region"
  aria-labelledby="servicios-titulo"
>
  <div class="contenedor">
    <h2 class="text-center text-4xl font-bold font-subs text-white">
      Tu Estilo,<br />
      Nuestra Especialidad
    </h2>
    <p class="text-center text-xl text-white max-w-xl m-auto">
      Creamos prendas 칰nicas para cada ocasi칩n especial de tu vida
    </p>
  </div>

  <div class="slider overflow-hidden w-full py-8 m-auto relative">
    <div class="servicios-grid flex">
      <div class="servicio-card surface-panel">
        <div class="text-5xl">游놇</div>
        <h3 class="text-xl">Vestidos de Novia</h3>
        <p class="leading-6">
          Dise침os 칰nicos para el d칤a m치s especial. Hacemos realidad el vestido
          de tus sue침os.
        </p>
      </div>

      <div class="servicio-card surface-panel">
        <div class="text-5xl">游</div>
        <h3 class="text-xl">Vestidos de Fiesta</h3>
        <p class="leading-6">
          Elegancia y sofisticaci칩n para eventos especiales. Cada vestido
          refleja tu personalidad 칰nica.
        </p>
      </div>

      <div class="servicio-card surface-panel">
        <div class="text-5xl">游깿</div>
        <h3 class="text-xl">Vestidos de Noche</h3>
        <p class="leading-6">
          Glamour y distinci칩n para veladas especiales. Dise침os que destacan tu
          belleza natural.
        </p>
      </div>

      <div class="servicio-card surface-panel">
        <div class="text-5xl">游녬</div>
        <h3 class="text-xl">Vestidos de Quincea침era</h3>
        <p class="leading-">
          Hacemos realidad el vestido de tus sue침os para una noche de quince
          a침os inolvidable.
        </p>
      </div>

      <div class="servicio-card surface-panel">
        <div class="text-5xl">游꿉</div>
        <h3>Vestidos de Promoci칩n</h3>
        <p class="leading-6">
          Haz de tu graduaci칩n una noche 칰nica con elegancia y estilo.
        </p>
      </div>

      <div class="servicio-card surface-panel">
        <div class="text-5xl">游녮</div>
        <h3 class="text-xl">Sastrer칤a para Damas</h3>
        <p class="leading-6">
          Trajes ejecutivos y formales. Confecci칩n a medida para la mujer
          profesional moderna.
        </p>
      </div>

      <div class="servicio-card surface-panel">
        <div class="text-5xl">游녱</div>
        <h3 class="text-xl">Ropa Casual Premium</h3>
        <p class="leading-6">
          Blusas, pantalones y prendas del d칤a a d칤a con acabados de alta
          costura.
        </p>
      </div>
    </div>
  </div>

  <div class="contenedor">
    <div
      class="flex flex-col gap-4 p-8 border border-sakura-primary rounded-2xl shadow-[0_0_60px_rgba(255,192,203,0.2)]"
    >
      <p class="text-xl font-medium text-sakura-primary">
        쯃ista para tu prenda so침ada? Recibe una asesor칤a personalizada sin
        costo.
      </p>
      <a
        href="https://wa.me/51947620202?text=춰Hola!%20Me%20interesa%20conocer%20m치s%20sobre%20sus%20servicios%20de%20confecci칩n.%20쯇odr칤an%20proporcionarme%20informaci칩n%20detallada?"
        target="_blank"
        class="wsp-btn self-center flex"
        rel="noopener noreferrer"
        aria-label="Solicitar informaci칩n detallada por WhatsApp"
      >
        Agenda tu asesor칤a
        <Icon name="mdi:whatsapp" class="h-8 w-8 text-inherit" />
      </a>
    </div>
  </div>
</section>

<script type="module" src="/scripts/components/slider.js"></script>

<style>
  .slider::before,
  .slider::after {
    position: absolute;
    top: 2rem;
    width: 150px;
    height: calc(100% - 4rem);
    pointer-events: none;
    content: "";
    z-index: 1;
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%
    );
  }

  .slider::before {
    left: 0;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 192, 203, 0.06) 80%,
      rgba(255, 192, 203, 0.1) 100%
    );
  }

  .slider::after {
    right: 0;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 192, 203, 0.06) 80%,
      rgba(255, 192, 203, 0.12) 100%
    );
  }

  .servicios-grid:hover {
    animation-play-state: paused;
  }

  .servicios-grid {
    animation: scroll 40s linear infinite;
    width: calc((320px + 2rem) * 7);
  }

  .servicio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 0 0 auto;
    width: 320px;
    height: auto;
    padding: 3rem 2rem;
    margin-right: 2rem;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    text-align: center;
    transition: all 0.3s ease;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .servicio-card:hover {
    transform: translateY(-5px);
    /* background: rgba(255, 192, 203, 0.1); Antiguo bg rosa opaco*/
    background: transparent;
    border-color: rgba(255, 192, 203, 0.3);
    box-shadow: 0 0 35px rgba(255, 192, 203, 0.2);
  }
</style>
