---
import Contact from "../components/Contact.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import History from "../components/History.astro";
import Services from "../components/Services.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Header />
  <main class="flex-1 flex flex-col gap-48">
    <Hero />
    <Services />
    <History />
    <Contact />
    <CTA />
  </main>
  <Footer />
</Layout>

<!-- <script src="/scripts/sakura-animation.js"></script>
<script src="/scripts/components/year-updater.js"></script>
<script src="/scripts/components/copy-button.js"></script>
<script src="/scripts/components/slider.js"></script> -->
