---
import Contact from "../components/sections/Contact/Contact.astro";
import CTA from "../components/sections/CTA.astro";
import Footer from "../components/layout/Footer.astro";
import Header from "../components/layout/Header.astro";
import Hero from "../components/sections/Hero/Hero.astro";
import History from "../components/sections/History.astro";
import Services from "../components/sections/Services.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <main class="flex flex-col gap-24 md:gap-36 lg:gap-48">
    <Hero />
    <Services />
    <!-- <History /> -->
    <Contact />
    <CTA />
  </main>
  <Footer />
</Layout>
