<p
  class="text-xl text-sakura-primary tracking-wide text-center flex flex-col gap-1"
>
  <span class="font-medium text-2xl">Taller de Alta Costura para Damas</span>
  <span class="text-lg italic opacity-90 font-subs"
    >Más de 15 años creando momentos especiales</span
  >
</p>
<h1 class="text-5xl font-bold font-subs text-center">
  Diseños exclusivos para momentos inolvidables
</h1>
