<div class="w-full max-w-153 h-80">
  <img
    src="/images/ModasBety-logo.png"
    alt="Modas Bety - Taller de alta costura y confección a medida"
    width="720"
    height="450"
    fetchpriority="high"
    class="logo"
    oncontextmenu="return false"
  />
</div>
