<section
  class="text-sakura-primary tracking-wide text-center flex flex-col gap-5"
>
  <div>
    <p class="font-medium text-xl sm:text-2xl">
      Atelier de Moda y Confecci칩n para Damas
    </p>
    <p class="text-sm sm:text-base italic opacity-90 font-subs">
      M치s de 15 a침os creando momentos especiales
    </p>
  </div>
  <h1
    class="text-white text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold font-subs text-center"
  >
    Dise침os exclusivos para momentos inolvidables
  </h1>
</section>
