<section
  class="text-sakura-primary tracking-wide text-center flex flex-col gap-5"
>
  <div>
    <p class="font-medium text-xl sm:text-2xl">
      Taller de Alta Costura para Damas
    </p>
    <p class="text-sm sm:text-base italic opacity-90 font-subs">
      Más de 15 años creando momentos especiales
    </p>
  </div>
  <h1
    class="text-white text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold font-subs text-center"
  >
    Diseños exclusivos para momentos inolvidables
  </h1>
</section>
