---
import { Icon } from "astro-icon/components";

const links = {
  facebook: {
    url: "https://www.facebook.com/ModasBetyConfecciones",
    aria: "Abrir Facebook de Modas Bety",
    icon: "mingcute:facebook-line",
  },
  instagram: {
    url: "https://www.instagram.com/modasbety_",
    aria: "Abrir Instagram de Modas Bety",
    icon: "mdi:instagram",
  },
  whatsapp: {
    url: "https://wa.me/51947620202?text=¡Hola!%20Vengo%20de%20su%20página%20web%20y%20me%20gustaría%20recibir%20información%20sobre%20sus%20servicios%20de%20confección%20a%20medida",
    aria: "Escribir a WhatsApp",
    icon: "mdi:whatsapp",
  },
};
---

<nav class="flex gap-4" aria-label="Enlaces a redes sociales">
  {
    Object.entries(links).map(([key, { url, aria, icon }]) => (
      <a
        href={url}
        target="_blank"
        rel="noopener noreferrer"
        aria-label={aria}
        class="text-2xl text-sakura-primary hover:text-sakura-hover/80 hover:scale-120 transition-all duration-300 "
      >
        <Icon name={icon} class="size-10" />
      </a>
    ))
  }
</nav>
