---
import { Icon } from "astro-icon/components";
import { SOCIAL_LINKS, MESSAGES } from "../../data/siteData";

const { class: className = "" } = Astro.props;

const links = {
  facebook: {
    url: SOCIAL_LINKS.facebook,
    aria: "Abrir Facebook de Modas Bety",
    icon: "mingcute:facebook-line",
  },
  instagram: {
    url: SOCIAL_LINKS.instagram,
    aria: "Abrir Instagram de Modas Bety",
    icon: "mdi:instagram",
  },
  whatsapp: {
    url: SOCIAL_LINKS.whatsapp(MESSAGES.whatsappDefault),
    aria: "Escribir a WhatsApp",
    icon: "mdi:whatsapp",
  },
};
---

<nav
  class={`flex gap-4 mx-auto ${className}`}
  aria-label="Enlaces a redes sociales"
>
  {
    Object.entries(links).map(([key, { url, aria, icon }]) => (
      <a
        href={url}
        target="_blank"
        rel="noopener noreferrer"
        aria-label={aria}
        class="text-2xl text-sakura-primary hover:text-sakura-hover/80 hover:scale-120 transition-all duration-300 "
      >
        <Icon name={icon} class="size-10 xl:size-12" />
      </a>
    ))
  }
</nav>
